*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-135deg, #FFFF8C, #FF3182);
}

.main {
  width: 350px;
  max-width: 450px;
  border: 3px solid #0295A9;
  border-radius: 8px;
  box-shadow: 0 0 20px #12ADC1;
  background: rgba(255, 255, 255,.75);
  backdrop-filter: blur(25px);
  padding: 10px;
  display: flex;
  flex-direction: column;
align-items:center;
}


h1 {
  color: #0295A9;
  text-transform: capitalize;
  text-align: center;
  margin: 10px;
  font-size: 40px;
  /* border-bottom: 2px solid #0295A9;; */
  padding: 10px;
  padding-top: 0px;
  position: relative;
  text-shadow: 0 0 15px #fff;
}

h1::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 230px;
  bottom: -5px;
  background-color: #0295A9;
  margin: auto;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation: bar .9s ease-in-out;
}

@keyframes bar {
  from {
    width: 0px;
  }

  to {
    width: 230px;
  }
}

select{
width: 80%;
height: 2.8rem;
border: none;
border-radius: 10px;
background: rgba(255, 255, 255, 0.8);
margin: 10px;
padding: 8px;
outline: 0;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
font-family: "Varela Round", sans-serif;
font-size: 16px;
}
.sec {
  width: 95%;
  min-height: 150px;
  border-radius: 10px;
  background-color: transparent;
  margin: auto;
  padding: 10px;
  position: relative;
  overflow-y: scroll;
}
p {
  text-align: center;
  color: #0295A9;
  font-size: 25px;
  text-transform: capitalize;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  margin: 15px;
  margin-bottom: 30px;
  text-shadow: 0 0 15px #fff;
}
p::before,
p::after {
  content: '"';
}

span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #0295A9;
  text-shadow: 0 0 15px #fff;
}

span::before{
  content: '-- ';
}

img {
  width: 22px;
  padding: 0px;
  margin: 0;
  margin-right: 5px;
  margin-top:5px;
}

.button{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

button {
  height: 2.5rem;
  width: 8rem;
  padding: 2px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  background: #FFFF8C;
  border: 2px solid #0295A9;
  font-size: 20px;
  margin: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: bolder;
  color: #0295A9;
}

button:active {
  transform: scale(.95);
}


button:nth-child(2) {
  background-color:#FFF;
  color: #0295A9;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 2px solid #0295A9;
  font-size: 18px;
  justify-content: center;
  flex-direction: row;
  row-gap: 5px;
}

#copy img{
  height: 22px;
  transform: translateY(-4px)
}